<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PRUEBA</servlet-name>
        <servlet-class>PRUEBA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirDesc</servlet-name>
        <servlet-class>SubirDesc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta</servlet-name>
        <servlet-class>Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarGrafica</servlet-name>
        <servlet-class>MostrarGrafica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PRUEBA</servlet-name>
        <url-pattern>/PRUEBA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnviarCoor</servlet-name>
        <servlet-class>EnviarCoor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnviarCoor</servlet-name>
        <url-pattern>/EnviarCoor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirDesc</servlet-name>
        <url-pattern>/SubirDesc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarGrafica</servlet-name>
        <url-pattern>/MostrarGrafica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
